/* .contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
    font-size: 50px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid green;
    border-radius: 15px 0px;
  }
  
  .form-group textarea {
    height: 150px;
  }
  span{
    color: green;
  } */